@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";
@import "../../Assets/Styles/animations";
@import "../../Assets/Styles/variables";

.ShoppingCart__container {
  @include flex($dir: row, $justify: flex-end, $align: flex-end);
  position: fixed;
  inset: 0;
  overflow-x: hidden;
}

.shoppingCart {
  height: 100vh;
  width: 30%;
  background-color: $white;
  position: relative;
  animation: cartShow 1s;
  @include mobile {
    width: 80%;
    padding: 0rem;
    animation: cartShowMobile 1s;
  }
}
.shoppingCart__close {
  height: 100vh;
  width: 0%;
  background-color: $white;
  position: relative;
  animation: cartClose 1s;
  @include mobile {
    animation: cartCloseMobile 1s;
  }
}
.notShoppingCart {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 70%;
  background-color: $black;
  opacity: 0.7;
  cursor: crosshair;
  animation: nonCartPart 1s;
}
.notShoppingCart__close {
  opacity: 0;
}
.shoppingCart__checkout {
  padding: 1rem;
  // animation: cartElements 1s;
}
.notShoppingCart__checkout {
  padding: 1rem;
  animation: cartElementsOut 1s;
}
.shoppingCart__header {
  @include flex($dir: row, $justify: space-between, $align: center);
  margin-bottom: 1rem;
}
.shoppingCart__headerBottom {
  @include flex($dir: row, $justify: space-between, $align: center);
}
.shoppingCart__headerRemoveAll {
  color: $gray;
  cursor: pointer;
  &:hover {
    color: $black;
  }
}
.icon__close {
  cursor: pointer;
}
.shoppingCart__items {
  max-height: 60vh;
  margin-top: 2rem;
}
.shoppingCart__overflow {
  overflow-y: scroll;
}
.shoppingCart__item {
  @include flex($dir: row, $justify: flex-start, $align: center);
  gap: 1.5rem;
  position: relative;
  &::after {
    display: flex;
    content: "";
    clear: both;
    width: 100%;
    height: 1px;
    background-color: $gray;
    margin-bottom: 1rem;
  }
}
.shoppingCart__picture {
  width: 20%;
  cursor: pointer;
}
.shoppingCart__info {
  @include flex($dir: column, $justify: space-around, $align: baseline);
}
.shoppingCart__removeItem {
  position: absolute;
  bottom: 30%;
  right: 5%;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}
.shoppingCart__continue {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}
.shoppingCart__footer {
  width: 95%;
  position: absolute;
  bottom: 0%;
  @include mobile {
    left: 1%;
  }
}
.shoppingCart__sum {
  @include flex($dir: row, $justify: space-between, $align: center);
  margin: 0.8rem 0;
}
.tax__shipping {
  color: $gray;
}
.btnCheckout {
  @extend .shoppingCart__continue;
  width: 99%;
}
