@import "../../Assets/Styles/variables";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";

.collection__container {
  width: $container100;
  margin-bottom: 10rem;
  @include mobile {
    margin-bottom: 4rem;
  }
}
.collection__hero {
  background-image: url("../../Assets/Images/collection_background.gif");
  background-position: center;
  background-size: cover;
  height: 47vh;
  margin-bottom: 10rem;
  @include mobile {
    height: 30vh;
    margin-bottom: 4rem;
  }
}
.collection__main {
  @include flex($dir: row, $justify: space-between, $align: flex-start);
  gap: 2rem;
  width: 95%;
  margin: 0 auto;
  @include mobile {
    position: relative;
  }
}
.collection__asideBar {
  margin-left: 2rem;
  width: 15%;
  background-color: $gray;
  border: 1px solid $gray;
  @include mobile {
    display: none;
  }
  &__mobile {
    @extend .collection__asideBar;
    @include mobile {
      display: block;
      margin-left: 0rem;
      width: 100%;
      position: absolute;
      top: 50px;
      z-index: 10;
    }
  }
}
.collection__search {
  width: 100%;
  height: 3rem;
  padding: 0.8rem;
  border: 2px solid $gray;
}
.collection__products {
  width: 80%;
  @include mobile {
    width: 100%;
  }
}
.collection__headerProducts {
  @include flex($dir: row, $justify: space-between, $align: center);
  width: 97%;
  margin-bottom: 1rem;
  @include mobile {
    @include flex($dir: row, $justify: space-between, $align: flex-start);
    width: 98%;
  }
}
.collection__form {
  @include mobile {
    width: 49%;
  }
}
.collection__list {
  height: 2rem;
  @include mobile {
    width: 60%;
  }
}
.collection__headerTitle {
  @include mobile {
    width: 15%;
  }
}
.collection__filter {
  display: none;
  @include mobile {
    display: block;
  }
}
.collection__categories {
  padding: 1rem;
}
.collection__pickCategory {
  @include flex($dir: column, $justify: space-between, $align: flex-start);
  gap: 1rem;
  margin-top: 1rem;
  &::before {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
}
.collection__categoryItem {
  color: $black;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 0%;
    background-color: $black;
    transition: $transition;
  }
  &:hover::after {
    width: 50%;
    transition: $transition;
  }
}

.collection__categoryItem_focus {
  color: $black;
  cursor: pointer;
  &:focus {
    color: $white;
  }
}

.collection__size {
  @include flex($dir: row, $justify: flex-start, $align: center);
  padding-left: 0.6rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.collection__sizeBtn {
  padding: 0.3rem;
  width: 15%;
  &:focus {
    background-color: $black;
    color: $white;
  }
}
