@import "../../Assets/Styles/variables";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";

.collection__container {
  width: $container100;
}
.collection__hero {
  background-image: url("../../Assets/Images/hero_img.png");
  background-position: center;
  background-size: cover;
  height: 40vh;
  margin-bottom: 10rem;
}
.collection__main {
  @include flex($dir: row, $justify: space-between, $align: flex-start);
  gap: 2rem;
  width: 95%;
  // width: $container90;
}
.collection__asideBar {
  margin-left: 2rem;
  width: 15%;
  background-color: $gray;
  border: 1px solid $gray;
  // color: $white;
  // border-radius: 1.2rem;
}
.collection__search {
  width: 100%;
  height: 3rem;
  padding: 0.8rem;
  border: 2px solid $gray;
}
.collection__products {
  width: 80%;
}
.collection__headerProducts {
  @include flex($dir: row, $justify: space-between, $align: center);
  width: 97%;
  margin-bottom: 1rem;
}
.collection__list {
  height: 2rem;
}
.collection__categories {
  padding: 1rem;
}
.collection__pickCategory {
  @include flex($dir: column, $justify: space-between, $align: flex-start);
  gap: 1rem;
  margin-top: 1rem;
  &::before {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
}
.collection__categoryItem {
  color: $black;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 0%;
    background-color: $black;
    transition: $transition;
  }
  &:hover::after {
    width: 50%;
    transition: $transition;
  }
}
//todo treba napraviti div i tamo odraditi :after
.collection__categoryItem_focus {
  color: $black;
  cursor: pointer;
  &:focus {
    color: $white;
  }
}

.collection__size {
  @include flex($dir: row, $justify: flex-start, $align: center);
  padding-left: 0.6rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.collection__sizeBtn {
  padding: 0.5rem;
  width: 15%;
  &:focus {
    background-color: $black;
    color: $white;
  }
}
