@import "../../Assets/Styles/variables";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";

.hero__show {
  @include mobile {
    position: sticky;
    background-color: $black;
    height: 89vh;
  }
}

.hero__container {
  width: $container100;
  margin: $marginCenter;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__img {
  position: relative;
  z-index: -6;
  @include mobile {
    width: 100%;
  }
}
.hero__noImg {
  @include mobile {
    visibility: hidden;
  }
}

.shoes_background {
  position: absolute;
  top: 0%;
  left: 27%;
  background-image: url("../../Assets/Images/sneaker_black.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 44%;
  height: 91vh;
  z-index: -2;
  transition: $transition;
  @include mobile {
    width: 40%;
    height: 18vh;
    top: 15%;
    left: 32%;
  }
  &_orange {
    @extend .shoes_background;
    background-image: url("../../Assets/Images/sneaker_white.png");
  }
}
#shoes_noBackground {
  @include mobile {
    display: none;
  }
}

.circle_background {
  background-color: $green;
  width: 48%;
  height: 93%;
  border-radius: 50%;
  position: absolute;
  left: 31%;
  top: 15%;
  z-index: -4;
  transition: $transition;
  @include mobile {
    width: 58%;
    height: 79%;
    left: 23%;
    top: 30%;
  }
  &_orange {
    @extend .circle_background;
    background-color: $orangeLight;
  }
}
#circle_noBackground {
  @include mobile {
    display: none;
  }
}

.dots_background {
  @include flex($dir: row, $justify: center, $align: center);
  background-image: url("../../Assets/Images/dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 30%;
  height: 60%;
  right: 11%;
  top: 15%;
  z-index: -3;
  color: $white;
  @include mobile {
    display: none;
  }
}
.dots_content {
  width: 40%;
  line-height: 3.6rem;
  @include mobile {
    width: 10%;
    line-height: 2rem;
  }
}
.hero__btnShop {
  position: absolute;
  width: 15%;
  bottom: 40%;
  left: 8%;
  pointer-events: all;
  z-index: -1;
  @include mobile {
    bottom: -25%;
    left: 35%;
    font-size: 1rem;
    width: 30%;
  }
  &__noShow {
    @include mobile {
      visibility: hidden;
    }
  }
}
.hero__btn {
  display: inline-block;
  position: absolute;
  z-index: -1;
  width: 100%;
  pointer-events: all;
  &__noShow {
    @include mobile {
      display: none;
    }
  }
}
