@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";
@import "../../Assets/Styles/variables";

.checkout__container {
  @include flex($dir: row, $justify: space-around, $align: flex-start);
  width: 80%;
  margin: 1rem auto;
  border: 1px solid $gray;
  border-radius: 1.3rem;
}
.checkout__information {
  width: 50%;
  padding: 0.5rem;
  border-right: 1px solid $gray;
}
.checkout__product {
  width: 50%;
  padding: 0.5rem;
  background-color: $lightGray;
  border-top-right-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}

.checkout__title {
  display: inline-block;
  margin-bottom: 1rem;
}

.checkout__fields {
  @include flex($dir: row, $justify: space-between, $align: center);
}
.checkout__field {
  @include flex($dir: column, $justify: center, $align: flex-start);
  width: 49%;
  padding: 0.5rem;
  row-gap: 0.3rem;
  &__input {
    height: 2.4rem;
    width: 100%;
    font-size: 1rem;
    padding: 0.3rem;
    &:focus {
      border: 3px solid rgb(26, 16, 164);
    }
  }
}
.checkout__cardField {
  width: 100%;
}
.checkout__formTitle {
  padding-left: 0.5rem;
  margin: 0.4rem 0;
}
.checkout__bottom {
  @include flex($dir: row, $justify: space-between, $align: center);
  padding: 0.4rem;
  margin: 0.6rem 0;
}
.checkout__btn {
  width: 48%;
}
.checkout__btnOrder {
  width: 100%;
}
.checkout__back {
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 0%;
    background-color: $black;
    transition: $transition;
  }
  &:hover::after {
    width: 50%;
    transition: $transition;
  }
}
// product info
.checkout__productInfo {
  padding: 0.3rem;
  margin: 2rem 0;
  height: 45vh;
  overflow-y: auto;
}
.checkout__singleProduct {
  @include flex($dir: row, $justify: space-between, $align: center);
  width: 70%;
  // margin: $marginCenter;
  margin: 0.5rem auto 0 auto;

  &::after {
    content: "";
    clear: both;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
}
.checkout__productImg {
  position: relative;
  width: 15%;
  &::after {
    content: "";
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    background-color: $green;
  }
}
.checkout__quantity {
  position: absolute;
  top: 1.5%;
  right: -23%;
  z-index: 1;
  color: $white;
  @include mobile {
    top: 4.3%;
    right: 8.4%;
  }
}
.checkout__discount {
  @include flex($dir: row, $justify: space-between, $align: center);
  width: 85%;
  margin: 3.2rem auto;
}
.checkout__discountInput {
  @extend .checkout__field;
  width: 84.8%;
}
.checkout__btnApply {
  width: 15%;
  padding: 0.45rem;
  text-transform: uppercase;
}
.checkout__orderValue {
  width: 85%;
  margin: 0 auto 3.1rem auto;
}
.checkout__calculatedValue {
  @include flex($dir: row, $justify: space-between, $align: center);
  margin-bottom: 0.8rem;
}
