@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";

.order__popup {
  display: grid;
  row-gap: 2rem;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  background-color: $lightGray;
  border: 1px solid $lightGray;
  border-radius: 1.3rem;
  padding: 2rem;
  text-align: center;
}
