@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";

.overview__container {
  @include flex($dir: row, $justify: center, $align: center);
  background-color: rgb(19, 19, 19, 0.7);
  position: fixed;
  inset: 0;
}
.overview__popup {
  @include flex($dir: row, $justify: space-between, $align: center);
  background-color: $white;
  width: 60%;
}
.overview__closePopup {
  position: absolute;
  right: 1%;
  top: 1%;
  width: 10%;
}
