@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";
@import "../../Assets/Styles/variables";

.overview__container {
  @include flex($dir: row, $justify: center, $align: center);
  background-color: rgb(19, 19, 19, 0.7);
  position: fixed;
  inset: 0;
}
.overview__popup {
  @include flex($dir: row, $justify: space-between, $align: flex-start);
  background-color: $white;
  width: 60%;
  padding: 1.7em;
  @include mobile {
    width: 90%;
  }
}
.overview__picture {
  width: 40%;
  @include mobile {
    // display: block;
    margin: 0 auto;
    width: 60%;
  }
}
.overview__productInfo {
  display: grid;
  gap: 1.5rem;
  width: 50%;
  @include mobile {
    width: 100%;
    gap: 0.7rem;
  }
}
.overview__title {
  @include flex($dir: row, $justify: space-between, $align: center);
}
.overview__closePopup {
  cursor: pointer;
}

.overview__desc {
  line-height: 1.3rem;
}
.overview__size {
  @include flex($dir: row, $justify: flex-start, $align: center);
  gap: 0.5rem;
}
.overview__sizeBtn {
  padding: 0.5rem;
  width: 15%;
  &:focus {
    background-color: $black;
    color: $white;
  }
}
.overview__chooseQuantity {
  @include flex($dir: row, $justify: flex-start, $align: center);
  gap: 2rem;
}

.overview__subtotal {
  @include flex($dir: row, $justify: flex-start, $align: center);
  gap: 0.4rem;
}
.overview__btnAdd {
  font-weight: $fontWeight400;
  border-radius: 1.3rem;
}
.overview__btnBuy {
  font-weight: $fontWeight400;
  width: $container100;
}
