@import "../../Assets/Styles/variables";
@import "../../Assets/Styles/colors";

.category__container {
  //   height: 100vh;
  width: 100%;
  background-color: $lightGray;
  position: relative;
}

.category__title {
  display: grid;
  place-content: center;
  padding: 3rem;
}
.category__grid {
  //   height: 100vh;
  width: 80%;
  margin: $marginCenter;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 50px;
  color: $white;
  text-align: center;
}
.category__name {
  position: absolute;
  top: 40%;
  left: 38%;
}
.category__all {
  grid-column: 1/2;
  grid-row: 1/3;
  position: relative;
  width: 80%;
  cursor: pointer;
}
.category__women {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
  width: 87%;
  cursor: pointer;
}
.category__kids {
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.category__men {
  grid-column: 3/4;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  cursor: pointer;
}
.aa {
  grid-column: 2/4;
  grid-row: 3/4;
  //   width: 20%;
  border: 1px solid red;
}
