@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";
@import "../../Assets/Styles/animations";
@import "../../Assets/Styles/variables";

.checkout__container {
  @include flex($dir: row, $justify: flex-end, $align: flex-end);
  position: sticky;
  inset: 0;
}

.shoppingCart {
  height: 100vh;
  width: 30%;
  background-color: $white;
  position: relative;
  animation: checkoutShow 1s;
}
.shoppingCart__close {
  height: 100vh;
  width: 0%;
  background-color: $white;
  position: relative;
  animation: checkoutClose 1s;
}
.notShoppingCart {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: $black;
  opacity: 0.7;
  cursor: crosshair;
}
.notShoppingCart__close {
  opacity: 0;
}
.shoppingCart__checkout {
  padding: 1rem;
}
.shoppingCart__header {
  @include flex($dir: row, $justify: space-between, $align: center);
  margin-bottom: 1rem;
}

.shoppingCart__items {
  // border: 1px solid blue;
  margin-top: 2rem;
}
.shoppingCart__item {
  border: 1px solid blue;
  height: 20vh;
}
.shoppingCart__picture {
  width: 20%;
}

.shoppingCart__footer {
  position: absolute;
  bottom: 1%;
}
