@import "../../Assets/Styles/variables";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/components";

.navbar__container {
  @include flex($dir: row, $justify: space-around, $align: center);
  width: $container100;
  margin: $marginCenter;
  background-color: $fullBlack;
  padding: 10px;
}
.navbar__logo {
  width: 6%;
  cursor: pointer;
}
.navbar__links {
  @include flex($dir: row, $justify: space-between, $align: center);
  width: 30%;
}
.navbar__item {
  color: $white;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 0%;
    background-color: $white;
    transition: $transition;
  }
  &:hover::after {
    width: 50%;
    transition: $transition;
  }
}
.navbar__cart {
  color: $white;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $green;
  }
}
.navbar__cartLength {
  position: absolute;
  top: 6%;
  right: 10%;
  z-index: 1;
}
