@import "../../Assets/Styles/colors";

.scroll {
  position: fixed;
  bottom: 5%;
  right: 1%;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 1.3rem;
  background-color: $black;
  z-index: 100;
  svg {
    color: $green;
  }
}
