@keyframes buttons {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes checkoutShow {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@keyframes checkoutClose {
  from {
    width: 30%;
  }
  to {
    width: 0%;
  }
}
