@keyframes buttons {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes cartShow {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}
@keyframes cartClose {
  from {
    width: 30%;
  }
  to {
    width: 0%;
  }
}
@keyframes cartShowMobile {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes cartCloseMobile {
  from {
    width: 80%;
  }
  to {
    width: 0%;
  }
}

@keyframes cartElements {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes cartElementsOut {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(200px);
  }
}
