.btnSecondary {
  width: 48%;
  background-color: $green;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 1rem;
  color: $white;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: $green;
  }
}

.btnPrimary {
  &__black {
    width: 50%;
    border: 1px solid transparent;
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: $black;
    color: $white;
    &:hover {
      background-color: $orangeLight;
      color: $black;
    }
  }
  &__white {
    width: 50%;
    padding: 15px;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $black;
    color: $black;
    &:hover {
      background-color: $black;
      color: white;
    }
  }
}
// button for changing quantity
.btn__quantity {
  border: 1px solid $gray;
  padding: 4px;
  margin: 1.1rem 0;
  border-radius: 1.3rem;
  width: 5.9rem;
}
.btn__increment {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px;
  cursor: pointer;
}
.btn__count {
  padding: 5px 12px;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
}

.icon__small {
  height: 1.6rem;
  width: 1.7rem;
  cursor: pointer;
}

.icon__big {
  height: 2.1rem;
  width: 2.8rem;
  color: $green;
}
