@import "../Styles/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  cursor: default;
  @include mobile {
    font-size: 2.1rem;
  }
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: default;
  @include mobile {
    font-weight: normal;
    font-size: 1.4rem;
  }
}
h3 {
  font-size: 1.6rem;
  cursor: default;
  @include mobile {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 1.3rem;
  cursor: default;
  @include mobile {
    font-size: 0.91rem;
  }
}
h5 {
  font-size: 1rem;
  @include mobile {
    font-size: 0.85rem;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $white;
}
p {
  text-decoration: none;
  font-size: 1rem;
  cursor: default;
}
span {
  cursor: default;
}

img {
  width: 100%;
}

.slick-slider {
  & .slick-arrow {
    &::before {
      // display: inline-block;
      // height: 150px;
      // width: 150px;
      color: $black;
    }
  }
}
