@mixin flex($dir: row, $justify: space-between, $align: center) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: 481px) and (max-width: 769px) {
    @content;
  }
}
@mixin monitor {
  @media only screen and (min-width: 770px) and (max-width: 1069px) {
    @content;
  }
}
