@mixin flex($dir: row, $justify: space-between, $align: center) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin mobile {
  @media only screen and (max-width: 414px) {
    @content;
  }
}
