@import "../../Assets/Styles/colors";
@import "../../Assets/Styles/mixins";
@import "../../Assets/Styles/components";
@import "../../Assets/Styles/variables";

.footer__container {
  color: $white;
  line-height: 1.8rem;
  background-color: $fullBlack;
  @include mobile {
    line-height: 1.3rem;
  }
}
.footer__top {
  @include flex($dir: row, $justify: space-around, $align: flex-start);
  padding-top: 1rem;
  @include mobile {
    height: 100%;
    text-align: center;
    row-gap: 1.4rem;
  }
  @include tablet {
    height: 100%;
    text-align: center;
  }
}
.footer__companyInfo {
  width: 14%;
  @include mobile {
    width: 35%;
  }
  @include tablet {
    width: 35%;
  }
}

.footer__email__name {
  display: flex;
  align-items: flex-start;
}
.footer__emailAddress {
  padding-left: 0.6rem;
}
.footer__logo {
  cursor: pointer;
  width: 40%;
  @include mobile {
    width: 73%;
    margin: 0 auto;
  }
  @include tablet {
    width: 43%;
    margin: 0 auto;
  }
}
.footer__service {
  @include mobile {
    width: 35%;
  }
  @include tablet {
    width: 35%;
  }
}
.footer__serviceTitle {
  padding-bottom: 1.2rem;
}
.footer__serviceLink {
  padding-bottom: 0.6rem;
  cursor: pointer;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 2px;
    width: 0%;
    background-color: $white;
    transition: $transition;
  }
  &:hover::after {
    width: 30%;
    transition: $transition;
  }
}

.footer__field {
  padding-bottom: 4.6rem;
  padding-top: 0.7rem;
  @include mobile {
    padding-bottom: 2rem;
  }
  @include tablet {
    padding-bottom: 2rem;
  }
}
.footer__input {
  height: 2.2rem;
  padding: 10px;
  width: 100%;
  margin-bottom: 1rem;
}
.footer__socialLinks {
  padding-top: 1rem;
}
.footer__socialIcon {
  padding-right: 1rem;
  &:hover {
    cursor: pointer;
    color: $green;
  }
}
.footer__bottom {
  text-align: center;
  padding: 1.7rem 0;
  @include mobile {
    padding: 1rem 0;
  }
  @include tablet {
    padding: 1rem 0;
  }
}
